spring:
  data:
    mongodb:
      host: localhost
      port: 27017
      database: rating-service
  profiles:
    active: container
  application:
    name: Rating-Service
  config:
      import: optional:configserver:http://localhost:8085
server:
  port: 8083
eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
okta:
  oauth2:
    issuer: https://dev-41157865.okta.com/oauth2/default
    audience: api://default